<!DOCTYPE html>
<html lang="en">

<head>
  <title>Brand Detector</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/output.css">

</head>

<body>
  <div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1627953252316-aba18d7520b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1750&q=80);">
    <div class="hero-overlay bg-opacity-50"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">Brand Detector</h1>
        <div class="card lg:w-96 sm:w-72 bg-base-100 bg-opacity-60 shadow-xl mx-auto">
          <div class="card-body">
            <h2 class="card-title justify-center text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">Please upload an image below:</h2>
            <div class="card-actions justify-end">
              <form class="flex-col m-4" action="/" enctype="multipart/form-data" method="post">
                <input type="file" name="file-to-upload" class="file-input file-input-bordered file-input-accent w-full max-w-xs mx-auto m-2" />
                <!-- <input type="file" name="file-to-upload"> -->
                <input type="submit" value="Upload" class="btn btn-outline btn-accent mx-auto m-2">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</body>

</html>